.home-bg {
  height: 40vh;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #09203f, #537895);
  background-size: 400% 400%;
  animation: movingBG 10s linear infinite alternate;
}

@keyframes movingBG {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 50% 100%;
  }
}
